@media only screen and (max-width:700px) {

    header nav{
        top: 12px;
        width: 90%;
    }
    header .main-nav {
        display: none;
    }

    header .menu-open {
        display: flex;
        flex-direction: column;
    }

    header .main-nav a {
        font-size: 1rem;
    }

    header .logo {
        width: 75px;
        
    }

    .hero-text-box a {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .row-pitch h2 {
        font-size: 1.8rem;
    }

    .section-features {
        font-size: 1.8rem;
    }

    .section-features p {
        font-size: 1.3rem;
    }

    .row-features p {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .carousel{
        width: 600px;
        height: 300px;
    }

    .manual-navigation{
        width: 600px;
    }

    .burger-item{
        width: 48%;
    }
    

}



@media only screen and (max-width: 626px) {

    .main-nav {
        display: none;
    }

    .menu-open {
        display: block;
    }

    header .main-nav {
        margin-left: 10%;
    }

    header .main-nav a {
        font-size: 1.2rem;
    }

    header .logo {
        width: 80px;
    }

    .hero-text-box a {
        font-size: 1.1rem;
        font-weight: 400;
    }

    .image-showcase li {
        width: 50%;
    }

    .comentarios blockquote{
        width: 94%;
    }

}

@media only screen and (max-width: 480px) {
    header .main-nav a {
        font-size: 1.1rem;
    }

    .image-showcase li {
        width: 100%;
    }

    .section-features {
        font-size: 1.4rem;
    }

    /* .row {
        display: flex;
        flex-wrap: wrap;
    } */
    
    .box {
        width: 100%; 
    }

    .carousel{
        margin-top: 20px;
        width: 440px;
        height: 220px;
    }

    .manual-navigation{
        width: 440px;
    }

    .burger-item{
        width: 96%;
    }

    blockquote{
        width: 94%;
    }
}