*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

h1, h2, h3 {
    text-transform: uppercase;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimize;
}

header{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(img/fundo.jpg);
    background-size: cover;
    background-position: center;
}

header nav{
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

header .logo{
    width: 75px;
    margin-left: 30px;
    border: solid 8px black;
    border-radius: 40px;
}

header .logo:hover{
    border: solid 8px transparent;

}

header .main-nav{
list-style: none;
display: flex;
justify-content: space-around;

flex-grow: 2;

margin-left: 30%;
}

header .main-nav a{
    color: #fff;
    font-size: 1.0rem;
    font-weight: 400;
}

header .main-nav li{
    padding-bottom: 5px;
    padding-right: 5px;
    border-bottom: solid 4px transparent;
    border-right:  solid 4px transparent;

    transition: border-bottom 0.3s, border-right 0.3s;
}

header .main-nav li:hover{
    border-bottom: solid 4px orangered;
    border-right:  solid 4px orangered;
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 4%;
}

header h1{
    margin: 0;
    color: #fff;
    font-weight: 400;
    word-spacing: 7px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

header a{
    text-decoration: none;
}

.btn:link, .btn:visited{
    border: solid orangered;
    border-radius: 15px;
    padding: 5px 30px;
    margin-right: 25px;
}

.btn-full{
    color: #fff;
    background-color: orangered;

    transition: background-color 0.3s, border-color 0.3s;
}

.btn-full:hover,
.btn-full:active{
background-color: rgb(137, 39, 3);
border-color: rgb(137, 39, 3);

}

.btn-ghost:hover,
.btn-ghost:active{
background-color: rgb(137, 39, 3);
border-color: rgb(137, 39, 3);
color: #fff;
}

.btn-ghost{
    color: orangered;
    transition: background-color 0.3s, border-color 0.3s;
}

.section-features{
    text-align: center;
    margin: 20px 10%;
}

.section-features-h2{
    font-size: 3rem;

    margin-bottom: 50px;
}

.section-features h2::after{
    display: block;
    content: "         ";
    width: 100px;
    height: 5px;
    background-color: orangered;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.section-features .long-copy{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.section-features ion-icon{
    font-size: 3rem;
    color: orangered;
    border-bottom: 7px;
}

.image-showcase{
    width: 100%;
    list-style: none;
}

.image-showcase li{
    display: flex;
    width: 25%;
    overflow: hidden;
    float: left;
}

.image-showcase .foto{
    width: 100%;
    background-color: black;
}

.foto img{
    width: 100%;
    height: auto;
    opacity: 0.8;
    transform:scale(1.2) ;

    transition: transform 0.5s, opacity 0.5s;
}

.foto img:hover{
    transform: scale(1.0);
    opacity: 1;
}
